/** { all: initial; 
font-size: 15px;*/
*{font-size: 15px;
  font-family: JetBrainsMono NFM;
}

window#waybar {
	background: #0a0a0a;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #0a0a0a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e; background: #0a0a0a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#mpris,
#taskbar,
#tray {
	background: #0a0a0a;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
  min-height: 24px;
  min-width: 16px;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #0a0a0a;
	border: #0a0a0a;
	padding: 0 3px;
}

#mpris {
	color: #d736ff;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
/*#battery {
	color: #33cc33;
}*/
#battery {
    padding-left: 16px;
    transition: none;
    color: #33cc33;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#disk {
	color: #b58900;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 0px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 1px;
    border-radius: 5px;
    background-color: green;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#taskbar,
#disk {
	padding: 0 10px;
}
